.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: $calendar-paddings;
  padding-right: 1px;
  max-width: calc(($cell-width * $cell-in-row) + $calendar-paddings * 2);

  &__day {
    border: 1px solid;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    line-height: 99px;
    text-align: center;

    box-sizing: border-box;
    height: $cell-height;
    width: $cell-width;
    background-color: $background-color;

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
      transform: translateY(-20px);
      transition-duration: 0.5s;
    }
  }

  @for $day-number from 1 through $month-length {
    & :nth-child(#{$day-number})::before {
      content: '#{$day-number}';
    }
  }

  @for $day from 1 through 31 {
    &--month-length-#{$day} :nth-child(n + #{$day + 1}) {
      display: none;
    }
  }

  @each $start-day, $margin in $start-day-margin {
    &--start-day-#{$start-day} :first-child {
      margin-left: #{$margin};
    }
  }
}
